    <title>MagdeGo - Die App für den Nahverkehr in Magdeburg</title>

    <meta charset="utf-8">

	<meta name="description" content="Einfach und schnell werden dir die Abfahrtszeiten von Haltestellen aus deiner Umgebung angzeigt.">

	<meta name=”twitter:site” content=”@Magde_Go />
	
	<meta property="og:image" content="http://magdego.de/icon.png" /> 
	<meta name="twitter:image:src" content="http://magdego.de/icon.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/style.css">


    <meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="MagdeGo">

	<!-- non-retina iPhone vor iOS 7 -->
	<link rel="apple-touch-icon" href="icon57.png" sizes="57x57">
	<!-- non-retina iPad vor iOS 7 -->
	<link rel="apple-touch-icon" href="icon72.png" sizes="72x72">
	<!-- non-retina iPad iOS 7 -->
	<link rel="apple-touch-icon" href="icon76.png" sizes="76x76">
	<!-- retina iPhone vor iOS 7 -->
	<link rel="apple-touch-icon" href="icon114.png" sizes="114x114">
	<!-- retina iPhone iOS 7 -->
	<link rel="apple-touch-icon" href="icon120.png" sizes="120x120">
	<!-- retina iPad vor iOS 7 -->
	<link rel="apple-touch-icon" href="icon144.png" sizes="144x144">
	<!-- retina iPad iOS 7 -->
	<link rel="apple-touch-icon" href="icon152.png" sizes="152x152">
	<!--Android-->
	<link rel="shortcut icon" href="196x196.png" sizes="196x196">
