 <head>
    <title>MagdeGo - DIE App für den Magdeburger Nahverkehr.</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/infos.css">
    <meta charset="utf-8">
 </head>