body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #424242
}

h1,h2 {
  font-weight: 300;
}

iframe {
  margin: 2em;
}



img {
  height: 3em;
  margin: 1em;
}

#logo {
  height: 5em;
}

#appstore {
  height: 2em;
}

a {
  text-decoration: none;
  color: #1ABC9C;
}

