<!DOCTYPE html>
<html manifest="/cache.manifest">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <h1>Demo</h1>
    <h2>MagdeGo bietet folgende Funktion</h2>
    <p class="centerDemo">Anhand der GPS-Daten des Nutzenden werden naheliegende Stationen mit zugehörigen (Live-) Abfahrtszeiten angezeigt.<br><br>Dies funktioniert nur in Sachsen-Anhalt (+ Leipzig) und damit du dir auch von außerhalb eine Idee von uns machen kannst, kannst du dir hier eine Location aussuchen.<br><br>Um zwischen den Stationen zu wechseln:<br>Swipen oder Pfeiltasten nutzen.</p>
    <br>
    <a href="/?lat=51.480841&long=11.952219" class="ui-btn ui-btn-inline" rel="external">Halle</a>
    <a href="/?lat=52.110366&long=11.621581" class="ui-btn ui-btn-inline" rel="external">Magdeburg</a>
    <a href="/?lat=51.339852&long=12.370289" class="ui-btn ui-btn-inline" rel="external">Leipzig</a>
    <br>
    <h2>Oder eigene Koordinaten?</h2>
    <form method="get" action="/" class="centerDemo" data-ajax="false">
      <div class="ui-field-contain">
        <label for="long">Longitude:</label>
        <input type="number" step="any" name="long" id="long" value="11.952219">       
        <label for="lat">Latitude:</label>
        <input type="number" step="any" name="lat" id="lat" value="51.480841">
      </div>
      <input type="submit" data-inline="true" value="Eigene Koordinaten verwenden!">
    </form>
  </body>
</html>