<!doctype html>
<html>
  <% include ../partials/head.ejs %>
  <body>

    <h1>Impressum</h1>
    Johannes Filter<br>
    Sternstr. 10<br>
    39104 Magdeburg<br>
    hi <at> jfilter.de
    
  </body>
</html>