<!DOCTYPE html>
<html manifest="/cache.manifest">
<!-- <html> -->
  <head>
    <% include ../partials/head %>
    <script>
      $(document).on('swipeleft', '.ui-page', function(event){    
          if ( event.handled !== true ) // This will prevent event triggering more then once
          {    
              var nextpage = $.mobile.activePage.next('[data-role="page"]');
              // swipe using id of next page if exists
              if ( nextpage.length > 0 ) {
                  $.mobile.changePage( nextpage, {transition: "slide", reverse: false}, true, true );
              }
              event.handled = true;
          }
          return false;         
      });

      $(document).on( 'swiperight', '.ui-page', function(event){     
          if(event.handled !== true) // This will prevent event triggering more then once
          {      
              var prevpage = $(this).prev('[data-role="page"]');
              if (prevpage.length > 0) {
                  $.mobile.changePage(prevpage, {transition: "slide", reverse: true}, true, true);
              }
              event.handled = true;
          }
          return false;            
      });

      function getParameterByName(name) {
        var match = RegExp('[?&]' + name + '=([^&]*)').exec( window.location.search );
        return match && decodeURIComponent(match[1].replace( /\+/g, ' ') );
      }

      function initialize() {
        var URI = '/departure-time/location/'

        var latParam = getParameterByName('lat');
        var longParam = getParameterByName('long');

        // check if paramters already provided
        if ( latParam && longParam ) {
          var path = URI + longParam + '/' + latParam;
          jQuery.getJSON( path, fillContent );
        } else {
          // Try HTML5 geolocation
          if ( navigator.geolocation ) {
            navigator.geolocation.getCurrentPosition( function( position ) {
              var lat = position.coords.latitude;
              var long = position.coords.longitude;

              var path = URI + long + '/' + lat;

              jQuery.getJSON( path, fillContent );

            }, function() {
              handleNoGeolocation( true );
            });
          } else {
            // Browser doesn't support Geolocation
            handleNoGeolocation( false );
          }          
        }
      }

      function handleNoGeolocation(errorFlag) {
        if ( errorFlag ) {
          var content = 'Wir haben keine GPS-Daten von dir erhalten und können die keine Abfahtszeiten liefern.<br><br>Du kannst aber unsere <a href="https://magdego.de/demo">Demo</a> ansehen.';
        } else {
          var content = 'Dein Browser unterstütz keine Geolocation. Bitte update/wechsel dein Browser/Betriebssystem.';
        }
        $( 'body' ).text( content );
      }

      function fillContent(data, textStatus, jqXHR) {
          for ( i = 0; i < data.length; i++ ) {
            createPage( data[i], i );
          }

          if ( data.length === 0 ) {
            window.location = '/demo';
          }
      }

      function createPage(station, index) {

        if ( typeof station.station_info !== 'undefined' ) { // FIX!

          var s = '';
          s += '<div data-role="page" id="page' + index + '">';
          s += '<header><h1><img src="icon_smaller.png" alt=""><br/>MagdeGo</h1></header>';

          s += '<h2>' + station.station_info +'</h2>';
          s += '<table data-role="table" class="fnord-breakpoint"><thead><tr><th>Abf.</th><th> </th><th>Richtung</th><th>Linie</th></tr></thead>';
          s += '<tbody>';
          var lines = station.departure_times;

          for ( j = 0; j < lines.length; j++ ) {

              var directionModified = lines[j].direction.replace('/','/<wbr>');
              var delayMin = "";
              var delayStatus = "";

              if ( lines[j].hasOwnProperty('delay') ) {
                var delay = lines[j].delay;

                if ( delay.minutes != null ) {
                  var color= delay.minutes == "0" ? 'green' : 'red';
                  delayMin = '<big class="' + color +'">•</big>';
                }

                if( delay.status != null ) {
                  delayStatus = '<wbr><small class=red>' + delay.status +'</small>';
                }
              }

              // Display minutes until arrival instead of departture time
              var currentDate = new Date();
              var departureDate = new Date(lines[j].departure);

              // Convert Date to String in correct format
              var depHours = departureDate.getHours() < 10 ? '0' + departureDate.getHours() : departureDate.getHours();
              var depMinutes = departureDate.getMinutes() < 10 ? '0' + departureDate.getMinutes() : departureDate.getMinutes();
              var departureOutput = depHours + ':' + depMinutes;

              var timeDiff = departureDate - currentDate;
              var minutesUntil = Math.floor(timeDiff / 1000 / 60); // convert to from ms to minutes

              // check if minutes are valid
              if ( minutesUntil <= 0) {
                departureOutput = "jetzt";
              } else if ( minutesUntil < 21 && minutesUntil > 0) {
                departureOutput = minutesUntil + ' min '
              }
              
              s += '<tr><td>' + departureOutput + delayStatus +'</td><td>' + delayMin + '</td><td>' + directionModified +'</td><td>' + lines[j].line + '</td></tr>';
          }
          s += '</tbody>';
          s += '</table>';  

          // if ( ! $('#myPopup').length > 0) {
            s += '<div data-role="popup" id="myPopup' + index + '"><p>Um andere Haltestellen zu sehen: Nach links oder rechts swipen bzw. am PC: Pfeiltasten nutzen.</p>Wenn Live-Daten vorhanden sind, werden sie als grüner (pünktlich) oder roter (Verspätung) Punkt angezeigt.</div>';
          // }

          s += '<footer><br><div data-role="controlgroup" data-type="horizontal"><a data-rel="popup" href="#myPopup' + index + '" class="ui-btn ui-icon-plus ui-btn-icon-left">Bedienung</a><a href="/infos" class="ui-btn ui-icon-info ui-btn-icon-left">Infos & Kontakt</a></div><br></footer>'
          s += '</div>';

          var x = $(s);
          x.appendTo($.mobile.pageContainer);

          // Show First Page
          if ( index === 0 ) {
            $.mobile.changePage( x );
          }
        }
      }

      $(function() {
        initialize();
      });

      // Navigating with Keyboards
      $(document).keydown(function(event){    
        var key = event.which;                
        switch(key) {
          case 39:
            // right
            var nextpage = $.mobile.activePage.next('[data-role="page"]');
            if (nextpage.length > 0) {
              $.mobile.changePage(nextpage, {transition: "slide", reverse: false}, true, true);
            }
            break;
          case 37:
            // left
            var prevpage = $.mobile.activePage.prev('[data-role="page"]');
            if ( prevpage.length > 0 ) {
              $.mobile.changePage(prevpage, {transition: "slide", reverse: true}, true, true);
            }
            break;
        }   
      });
    </script>
  </head>
  <body>
    <h1>Loading...</h1>
  </body>
</html>