<!doctype html>
<html manifest="/cache.manifest">
<!-- <html> -->
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <img id="logo" src="icon_smaller.png" >
    <h1>MagdeGo</h1>
    <h2><strong>Die</strong> App für den Nahverkehr in<br>Sachsen-Anhalt und Leipzig.</h2>

    <div class="centerDemo">
        <p>Einfach und schnell werden dir die Abfahrtszeiten von Haltestellen aus deiner Umgebung angzeigt. Falls vohanden, werden dir Live-Daten präsentiert.</p>

        <p>Um zwischen den Stationen zu wechseln:<br>Swipen oder Pfeiltasten nutzen.</p>

        <p>Die Web-App unter <a id="link" href="/"></a> ist für den mobilen Einsatz optimiert, lässt sich aber auch auf herkömlichen Geräten ansehen.</p>

        <p>Für Apple-Fans gibt's eine native <a id="link" href="https://itunes.apple.com/de/app/magdego-die-app-fur-den-nahverkehr/id926337785">iOS-App</a>.</p>

        <a href="https://itunes.apple.com/de/app/magdego-die-app-fur-den-nahverkehr/id926337785"><img src="appstore.svg"></a>

        <p>Eine native App für Android ist in Planung.<br>Folge uns auf <a id="link" href="https://twitter.com/magde_go">Twitter</a> und <a id="link" href="https://www.facebook.com/MagdeGoApp">Facebook</a> für mehr Infos!</p>

        <h2>Fragen?</h2>

        <p><i>Wie wechsel ich zwischen den Stationen?<br></i>Mobiles Gerät: Nach links oder rechts swipen.<br>Gerät mir Pfeiltasten: mit linker oder rechter Pfeiltaste.</p>

        <p><i>Was ist eine Web-App?<br></i>Eine Webseite, die du auf deinen Homescreen hinzufügen kannst und sich wie eine App verhält.</p>

        <p><i>Woher kommen die Daten?<br></i> Von <a id="link" href="http://www.insa.de/">insa.de</a>.</p>

        <p><i>Funktioniert die App nur in Magdeburg?</i><br>
        Nein, in ganz Sachsen-Anhalt und Leipzig.</p>

        <p><i>Gibt's eine Demo für Leute außerhalb Sachsen-Anhalts?</i><br>
        Ja, es gibt eine <a id="link" href="/demo">Demo</a>.</p>

        <p><i>Wozu braucht ihr meinen Standpunkt?</i><br>
        Um dir die Stationen in deiner Nähe anzuzeigen.
        </p>

        <p><i>Wer seid ihr?</i><br>
        Rosario Raulin und Johannes Filter, Studenten der OVGU Magdeburg.
        </p>

        <p><i>Wollt ihr damit Geld verdienen?</i><br>
        Nein.
        </p>

        <p><i>Wollt ihr damit Schaden anrichten?</i><br>
        Nein.
        </p>

        <p><i>Warum macht ihr des sonst?</i><br>
        Weil es möglich ist.
        </p>

        <p><i>Kann man mitmachen?</i><br>
        Ja, der gesamte Code ist auf <a id="link" href="https://github.com/CodeForMD/magdego-server">Github</a>.
        </p>
    </div>

    <a id="link" href="https://www.facebook.com/pages/MagdeGo/288911801301317?ref=bookmarks"><img src="facebook.png"></a>
    <a id="link" href="https://twitter.com/Magde_Go"><img src="twitter.png"></a>
    <a id="link" href="mailto:hi [ at ] magdego.de"><img src="email.png"></a>

    <p>Ein Projekt von <a id="link" href="https://twitter.com/rosario_raulin">@rosario_raulin</a> und <a id="link" href="https://twitter.com/fil_ter">@fil_ter</a> aus dem <a id="link" href="http://codefor.de/magdeburg/">OK Lab Magdeburg</a>.</p>

    <p><a id="link" href="/impressum" rel="external">Impressum und Datenschutzerkärung</a></p>
  </body>
</html>