<!doctype html>
<html>
  <% include ../partials/head %>
  <body>
    <img id="logo" src="icon.svg" >
    <h1>MagdeGo</h1>
    <h2><strong>Die</strong> App für den Magdeburger Nahverkehr.</h2>

    <!-- <iframe src="http://player.vimeo.com/video/42814986?color=ffffff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
    
    <!-- <br><img id="appstore" src="appstore.svg"> <br> -->

    <p>Einfach und schnell erhälst du die Abfahrszeiten aus deiner Umgebung.<br>Die beste App für jeden, der sich in Magdeburg auskennt.</p>

    <p>Die Webapp unter magdego.de ist für den mobilen Einsatz optimiert,<br>lässt sich aber auch auf dem Desktop einsehen.</p>

    <p>Eine native App für iOS ist in Planung.<br>Folge uns auf <a href="https://twitter.com/magde_go">Twitter</a> und <a href="https://www.facebook.com/pages/MagdeGo/288911801301317">Facebook</a> für mehr Infos!</p>

    <h2>Fragen.</h2>
    <p><i>Woher kommen die Daten?<br></i> Von <a href="http://www.insa.de/">insa.de</a>.</p>

    <p><i>Funktioniert die App nur in Magdeburg?</i><br>
    Nein, in ganz Sachsen-Anhalt - auch in Halle.</p>

    <p><i>Wozu braucht ihr meinen Standpunkt?</i><br>
    Um dir die Stationen in deiner Nähe anzuzeigen.
    </p>

    <p><i>Wer seid ihr?</i><br>
    Rosario Raulin und Johannes Filter, Studenten der OVGU Magdeburg.
    </p>

    <p><i>Wollt ihr damit Geld verdienen?</i><br>
    Nein.
    </p>

    <p><i>Wollt ihr damit Schaden anrichten?</i><br>
    Nein.
    </p>

    <p><i>Warum macht ihr des sonst?</i><br>
    Weil wir es können.
    </p>

    <p><i>Kann man mitmachen?</i><br>
    Ja, der gesamte Code ist auf <a href="https://github.com/rosario-raulin/magdego-server">Gitbub</a>.
    </p>


    <a href="https://www.facebook.com/pages/MagdeGo/288911801301317?ref=bookmarks"><img src="facebook.png"></a>
    <a href="https://twitter.com/Magde_Go"><img src="twitter.png"></a>
    <a href="mailto:hi [ at ] magdego.de"><img src="email.png"></a>


    <p>Ein Projekt von <a href="https://twitter.com/rosario_raulin">@rosario_raulin</a> und <a href="https://twitter.com/fil_ter">@fil_ter</a> aus dem <a href="http://codefor.de/magdeburg/">OK Lab Magdeburg</a>.</p>



    <p><a href="/impressum">Impressum und Datenschutzerkärung</a></p>

  </body>
</html>